@import url(/src/assets/color.css);
@import url(/src/Newtab/Common/common.css);
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html{
  /* border: 1px solid red; */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
  & body {
    box-sizing: border-box;
    padding: inherit;
    margin: inherit;

    #root {
      /* border: 1px solid red; */
      padding: inherit;
      box-sizing: border-box;
      margin: inherit;
      height: 100vh;
    }
  }
}

